@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Roboto+Slab:wght@600&family=Roboto:wght@300&display=swap");
:root {
  --primary-color: #0089b7;
  --secondary-color: #003d62;
  --dark-color: #003251;
  --darker-color: #003d62;
  --hover-color: #fd004e;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html {
  font-size: 10px; /* i can also write 62.5% here*/
  line-height: 1.5;
  font-family: "Raleway", sans-serif;
}
.container {
  max-width: 1300px;
  margin: 0 auto;
}
header {
  background-color: var(--primary-color);
}
nav {
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-logo {
  min-height: 80px;
  width: 175px;
}
nav ul {
  display: flex;
  list-style-type: none;
  gap: 15px;
}
.nav-left ul li a {
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease-in-out;
}
.nav-left ul li a:hover {
  padding: 4px 0px;
  color: #212121;
  transition: all 0.3s ease-in-out;
  border-bottom: 2px solid var(--hover-color);
}
a {
  text-decoration: none;
  color: #fff;
  font-size: 1.8rem;
}
.project-section {
  background-color: var(--secondary-color);
  /* min-height: 1100px; */
  border-bottom: 0.5rem solid var(--primary-color);
}
.hero-sec {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.container-right {
  padding: 4rem 0px;
}
.container-left {
  font-family: "Roboto Slab", serif;
  display: grid;
  place-items: center;
  color: #fff;
  font-weight: 700;
}
.container-left h1 {
  font-size: 3rem;
}
.hi-text {
  font-size: 7rem;
  color: var(--hover-color);
}
.name-text {
  font-size: 5.5rem;
}
.animate-text {
  font-size: 4rem;
  text-transform: capitalize;
  overflow: hidden;
  white-space: nowrap;
  border-right: 0.45rem solid var(--hover-color);
  margin: 0 auto;
  animation: typing 6s steps(40, end), caret-blink 0.85s step-end infinite;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 76%;
  }
}
@keyframes caret-blink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--hover-color);
  }
}
.portfolio {
  padding: 3rem 0px;
  color: #fff;
  font-size: 4.5rem;
  text-align: center;
  font-weight: 900;
}
.port-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  place-items: center;
  gap: 2.5rem;
}

.grid-item img {
  height: 400px;
  /* max-width: 385px; */
  aspect-ratio: 3/2;
  object-fit: cover;

  /* clip-path: circle(40%); */
  display: grid;
  place-items: center;
}
.portfolio-section {
  background-color: var(--dark-color);
  padding: 3rem 0;
}
.grid-content {
  font-size: 2rem;
  text-align: center;
}
.card {
  width: 340px;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  overflow: hidden;
  transition: all 0.4s ease-in-out;
}
.grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card:hover {
  transform: scale(1.05);
  transition: all 0.7s ease-in-out;
  cursor: pointer;
}
.card img:hover {
  transform: scale(1.02);
  transition: all 0.5s ease-in-out;
  opacity: 0.8;
}
.grid-content {
  background-color: #fff;

  padding: 2rem;

  position: relative;
  top: -7.5rem;
  margin-bottom: -7.5rem;
  transform: translateY(100px);
  transition: all 0.7s ease-in;
}
.grid-content a {
  color: #000;
  text-decoration: none;
  font-size: 3rem;
}
.card:hover .grid-content {
  transform: translateY(0px);
  background-color: #fff;
  color: #000;
  transition: all 0.4s ease-out;
}
.contact {
  background-color: var(--darker-color);
  min-height: 85dvh;
  display: grid;
  place-items: center;
}
.top-contact {
  max-width: 750px;
  margin: 0 auto;
  padding: 2rem 0;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 2rem;
}
.contact-item {
  gap: 2rem;
  display: flex;
  align-items: center;
}
.contact-item i {
  font-size: 4rem;
  cursor: pointer;
  color: #fff;
}
.contact-item i:hover {
  color: var(--hover-color);
  transition: all 0.5s ease-out;
  transform: scale(1.2);
}
.contact-item h1 {
  font-size: 4rem;
  color: #fff;
}
.bottom-contact {
  max-width: 550px;
  margin: 0 auto;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 2rem;
  padding: 2rem 0;
}
footer {
  background-color: var(--primary-color);
  color: #fff;
  padding: 1rem 0;
}
.foot {
  text-align: center;
  /* background: #000; */
}
.ameer {
  color: var(--hover-color);
  letter-spacing: 1.2px;
  padding-left: 5px;
  /* font-weight: bolder; */
}
.fa-arrow-up {
  padding: 1.8rem 1.8rem;
  background: var(--hover-color);
  border-radius: 100%;
  font-size: 1.7rem;
}
.arrow-up {
  position: fixed;
  bottom: 7%;
  right: 0.6%;
}
@media (max-width: 768px) {
  html {
    font-size: 7px;
    line-height: 1.2;
  }
  .container-right img {
    width: 80%;
    height: auto;
  }
  .container-right {
    display: grid;
    place-items: center;
  }
  .nav-logo {
    min-height: 60px;
    width: 160px;
    padding: 0.5rem 0;
  }
}
@media (max-width: 425px) {
  .hero-sec {
    display: flex;
    flex-direction: column;
    padding: 0 0 5rem 0;
  }
  html {
    font-size: 6px;
    line-height: 1.2;
  }
  .nav-logo {
    min-height: 45px;
    width: 120px;
    padding: 0.5rem 0;
  }
  .port-grid {
    gap: 4.5rem;
  }
  .top-contact {
    flex-wrap: wrap;
  }
  .container-right img {
    width: 70%;
    height: auto;
  }
}
